@keyframes down {
    0% {
        top: 0vh;
        transform: rotate(0);
    }
    100% {
        top: 100vh;
        transform: rotate(360deg);
    }
}

* {
    cursor: none;
    box-sizing: border-box;
    user-select: none;
    transition: 0.1s;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background: url(../img/basement.webp) no-repeat center center fixed;
    background-size: 120% 120%;
    transition: 0.3s;
}

#main {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

#heading {
    position: absolute;
    top: -3vh;
    font-size: 8vh;
    font-family: "Rubik Glitch", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #0000ff;
    -webkit-text-stroke: 1px #e0ffff;
    text-shadow: 0 0 20px rgba(0, 0, 255, 0.8);
    text-align: center;
    z-index: 4;
}

#cursor {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    z-index: 12;
    background: url(../img/cursor.png) no-repeat center/contain;
    filter: drop-shadow(0 0 15px #ff0000) drop-shadow(0 0 15px #ff0000)
        drop-shadow(0 0 15px #ff0000);
    opacity: 0.8;
    pointer-events: none;
    transition: 0.1s;
}

#canvas,
#light {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#canvas {
    z-index: 1;
    user-select: none;
}

#light {
    z-index: 100;
}

.rack {
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -45%);
    width: 30vw;
    z-index: 3;
    filter: blur(0.5px) brightness(80%) drop-shadow(0 0 10px #808080);
    transition: opacity 0.5s ease;
    opacity: 1;
}

#rack2 {
    opacity: 0;
    transition: opacity 0.5s ease;
}

#moneyDiv {
    position: fixed;
    top: 1vh;
    left: 1vw;
    min-width: 10vw;
    height: 5vw;
    z-index: 3;
    background-color: #808080;
    border-radius: 30px;
    border: 3px solid #696969;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5vw;
    padding-left: 1vw;
}

#moneyImg {
    position: absolute;
    left: 0%;
    width: 50%;
    filter: blur(0.5px) drop-shadow(0 0 5px #ffd700);
}

#moneyTxt {
    position: absolute;
    left: 50%;
    font-size: 2vw;
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #ffd700;
    text-shadow: 0 0 30px rgb(255, 196, 0);
    -webkit-text-stroke: 1px #ffa500;
}

#exit {
    position: absolute;
    top: 1vh;
    left: 92vw;
    width: 7vw;
    min-height: 50px;
    height: 8vh;
    font-size: 1.8vw;
    font-family: "Rubik Glitch", system-ui;
    font-weight: 400;
    color: #ff0000;
    background-color: #808080;
    border-radius: 30px;
    border: 3px solid #696969;
    -webkit-text-stroke: 0.3px #e0ffff;
    text-shadow: 0 0 20px rgba(255, 0, 0, 0.8);
    z-index: 11;
    transition: 0.3s;
}

#exit:hover {
    box-shadow: 0 0 20px 8px rgba(255, 255, 255, 0.5);
}

#exit:active {
    background-color: #fff;
}

#sweetie {
    position: absolute;
    left: 50%;
    width: 50vh;
    max-width: 300px;
    transform: translate(-30%, 0%);
    filter: blur(0.5px) brightness(80%)
        drop-shadow(0 0 5px rgba(255, 200, 100, 1));
    z-index: 9;
}

.money,
.experience {
    position: absolute;
    top: 0vh;
    animation: down 3s ease-in-out infinite;
    z-index: 3;
}

.money {
    width: 5vw;
    height: 5vw;
}

.experience {
    width: 3vw;
    height: 3vw;
}

/* Media Queries */
@media (max-width: 1000px) {
    .rack {
        width: 100vw;
    }
    #heading {
        font-size: 4vh;
    }
    #moneyDiv {
        width: 25vw;
        height: 15vw;
    }
    #moneyTxt {
        font-size: 6vw;
    }
    #exit {
        width: 10vw;
        height: 5vh;
        font-size: 3vw;
        left: 90vw;
    }
    #sweetie {
        width: 30vh;
    }
}

@media (min-width: 700px) and (max-width: 1000px) {
    .rack {
        width: 30vw;
    }
}

@media (max-height: 600px) {
    .rack {
        width: 40vw;
    }
    #heading {
        font-size: 8vh;
    }
    #moneyDiv {
        width: 10vw;
        height: 5vw;
    }
    #moneyTxt {
        font-size: 3vw;
    }
    #exit {
        width: 10vw;
        height: 5vh;
        font-size: 3vw;
        left: 90vw;
    }
    #sweetie {
        width: 30vh;
    }
}
